<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="contact" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <%- partial('_widget/music') %>
		<%- partial('_widget/video') %>
            </div>
        </div>
    </div>
</main>
